@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: theme(colors.slate.50);
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: theme(colors.gray.950);
	}
}

body {
	min-height: 100vh;
	font-family: 'Fira Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		color: theme(colors.slate.200);
	}
}

h1 {
	font-size: theme(fontSize.3xl);
	font-weight: theme(fontWeight.semibold);
	margin: 0;
	padding: 0;
}
